trunk/ocons/db/local.dtd

<!ELEMENT Localization (locallist)>
<!ATTLIST Localization lang CDATA #REQUIRED>
<!ELEMENT locallist (G_Language,G_Attention,G_Error,G_Open,G_Save,G_Cancel,G_Yes,G_No,G_Ok,G_AYouSure,ACD_Title,ACD_PersonalNumber,ACD_Name,ACD_Phone,ACD_EMail,ACD_Remember,ACD_Password,ACD_RepeatPassword,ACD_RedLighting,ACD_ConsultantPresent,ACD_PasswordsNotCoincide,LD_Title,LD_Number,LD_Password,LD_Enter,LD_ConsultantNumberNotPoint,LD_IncorrectPassword,LD_ConsultantNumberNotFound,MM_1_Control,MM_Config,MM_AboutProgram,MM_Exit,MM_2_Consultant,MM_NewConsultant,MM_Enter,MM_OtherConsultant,MM_ConfirmOtherConsultant,NT_Clients,NT_Invoices,NT_Catalogs,NT_Pricelist,NT_Reports,NT_Orders,NT_Contacts,IP_Clients,IP_Catalogs,IP_Orders,IP_Invoices,IP_Prices,IP_AddAction,IP_DeleteAction,IP_EditAction,IP_FindAction,IP_PreviewAction,IP_PrintAction,IP_CatalogNumber,IP_CatalogGiveDate,IP_CatalogReturnDate,IP_CatalogReturned,IP_CatalogInfo,IP_ClientName,IP_ClientPhone,IP_ClientPhoneMob,IP_ClientAdress,IP_ClientBirthday,IP_ClientOther,IP_ClientOtherDate,IP_ClientStatus,IP_ClientStatus_1,IP_ClientStatus_2,IP_ClientDiscount,IP_ClientIncorrectDiscountFormat,IP_ClientAdd,IP_ClientEdit,IP_OrderDate,IP_OrderQuantity,IP_InvoicesID,IP_InvoicesOrdered,IP_InvoicesReceived,IP_InvoicesPrice,IP_InvoicesPoints,IP_ProductID,IP_ProductGetDate,IP_ProductGetPrice,IP_ProductRealDate,IP_ProductRealPrice,IP_EventsComing,IP_EventsCompletion,IP_EventsFixed,IP_EventInfo,IP_Contact,IP_ContactPhone,IP_ContactWhereFind,IP_ContactWhereFind_1,IP_ContactWhereFind_2,IP_ContactWhereFind_3,IP_ContactWhereFind_4,IP_ContactName,IP_ContactDate,IP_ContactStatus)>
<!ELEMENT G_Language (#PCDATA)>
<!ELEMENT G_Attention (#PCDATA)>
<!ELEMENT G_Error (#PCDATA)>
<!ELEMENT G_Open (#PCDATA)>
<!ELEMENT G_Save (#PCDATA)>
<!ELEMENT G_Cancel (#PCDATA)>
<!ELEMENT G_Yes (#PCDATA)>
<!ELEMENT G_No (#PCDATA)>
<!ELEMENT G_Ok (#PCDATA)>
<!ELEMENT G_AYouSure (#PCDATA)>
<!ELEMENT ACD_Title (#PCDATA)>
<!ELEMENT ACD_PersonalNumber (#PCDATA)>
<!ELEMENT ACD_Name (#PCDATA)>
<!ELEMENT ACD_Phone (#PCDATA)>
<!ELEMENT ACD_EMail (#PCDATA)>
<!ELEMENT ACD_Remember (#PCDATA)>
<!ELEMENT ACD_Password (#PCDATA)>
<!ELEMENT ACD_RepeatPassword (#PCDATA)>
<!ELEMENT ACD_RedLighting (#PCDATA)>
<!ELEMENT ACD_ConsultantPresent (#PCDATA)>
<!ELEMENT ACD_PasswordsNotCoincide (#PCDATA)>
<!ELEMENT LD_Title (#PCDATA)>
<!ELEMENT LD_Number (#PCDATA)>
<!ELEMENT LD_Password (#PCDATA)>
<!ELEMENT LD_Enter (#PCDATA)>
<!ELEMENT LD_ConsultantNumberNotPoint (#PCDATA)>
<!ELEMENT LD_IncorrectPassword (#PCDATA)>
<!ELEMENT LD_ConsultantNumberNotFound (#PCDATA)>
<!ELEMENT MM_1_Control (#PCDATA)>
<!ELEMENT MM_Config (#PCDATA)>
<!ELEMENT MM_AboutProgram (#PCDATA)>
<!ELEMENT MM_Exit (#PCDATA)>
<!ELEMENT MM_2_Consultant (#PCDATA)>
<!ELEMENT MM_NewConsultant (#PCDATA)>
<!ELEMENT MM_Enter (#PCDATA)>
<!ELEMENT MM_OtherConsultant (#PCDATA)>
<!ELEMENT MM_ConfirmOtherConsultant (#PCDATA)>
<!ELEMENT NT_Clients (#PCDATA)>
<!ELEMENT NT_Invoices (#PCDATA)>
<!ELEMENT NT_Catalogs (#PCDATA)>
<!ELEMENT NT_Pricelist (#PCDATA)>
<!ELEMENT NT_Reports (#PCDATA)>
<!ELEMENT NT_Orders (#PCDATA)>
<!ELEMENT NT_Contacts (#PCDATA)>
<!ELEMENT IP_Clients (#PCDATA)>
<!ELEMENT IP_Catalogs (#PCDATA)>
<!ELEMENT IP_Orders (#PCDATA)>
<!ELEMENT IP_Invoices (#PCDATA)>
<!ELEMENT IP_Prices (#PCDATA)>
<!ELEMENT IP_AddAction (#PCDATA)>
<!ELEMENT IP_DeleteAction (#PCDATA)>
<!ELEMENT IP_EditAction (#PCDATA)>
<!ELEMENT IP_FindAction (#PCDATA)>
<!ELEMENT IP_PreviewAction (#PCDATA)>
<!ELEMENT IP_PrintAction (#PCDATA)>
<!ELEMENT IP_CatalogNumber (#PCDATA)>
<!ELEMENT IP_CatalogGiveDate (#PCDATA)>
<!ELEMENT IP_CatalogReturnDate (#PCDATA)>
<!ELEMENT IP_CatalogReturned (#PCDATA)>
<!ELEMENT IP_CatalogInfo (#PCDATA)>
<!ELEMENT IP_ClientName (#PCDATA)>
<!ELEMENT IP_ClientPhone (#PCDATA)>
<!ELEMENT IP_ClientPhoneMob (#PCDATA)>
<!ELEMENT IP_ClientAdress (#PCDATA)>
<!ELEMENT IP_ClientBirthday (#PCDATA)>
<!ELEMENT IP_ClientOther (#PCDATA)>
<!ELEMENT IP_ClientOtherDate (#PCDATA)>
<!ELEMENT IP_ClientStatus (#PCDATA)>
<!ELEMENT IP_ClientStatus_1 (#PCDATA)>
<!ELEMENT IP_ClientStatus_2 (#PCDATA)>
<!ELEMENT IP_ClientDiscount (#PCDATA)>
<!ELEMENT IP_ClientIncorrectDiscountFormat (#PCDATA)>
<!ELEMENT IP_ClientAdd (#PCDATA)>
<!ELEMENT IP_ClientEdit (#PCDATA)>
<!ELEMENT IP_OrderDate (#PCDATA)>
<!ELEMENT IP_OrderQuantity (#PCDATA)>
<!ELEMENT IP_InvoicesID (#PCDATA)>
<!ELEMENT IP_InvoicesOrdered (#PCDATA)>
<!ELEMENT IP_InvoicesReceived (#PCDATA)>
<!ELEMENT IP_InvoicesPrice (#PCDATA)>
<!ELEMENT IP_InvoicesPoints (#PCDATA)>
<!ELEMENT IP_ProductID (#PCDATA)>
<!ELEMENT IP_ProductGetDate (#PCDATA)>
<!ELEMENT IP_ProductGetPrice (#PCDATA)>
<!ELEMENT IP_ProductRealDate (#PCDATA)>
<!ELEMENT IP_ProductRealPrice (#PCDATA)>
<!ELEMENT IP_EventsComing (#PCDATA)>
<!ELEMENT IP_EventsCompletion (#PCDATA)>
<!ELEMENT IP_EventsFixed (#PCDATA)>
<!ELEMENT IP_EventInfo (#PCDATA)>
<!ELEMENT IP_Contact (#PCDATA)>
<!ELEMENT IP_ContactPhone (#PCDATA)>
<!ELEMENT IP_ContactWhereFind (#PCDATA)>
<!ELEMENT IP_ContactWhereFind_1 (#PCDATA)>
<!ELEMENT IP_ContactWhereFind_2 (#PCDATA)>
<!ELEMENT IP_ContactWhereFind_3 (#PCDATA)>
<!ELEMENT IP_ContactWhereFind_4 (#PCDATA)>
<!ELEMENT IP_ContactName (#PCDATA)>
<!ELEMENT IP_ContactDate (#PCDATA)>
<!ELEMENT IP_ContactStatus (#PCDATA)>
