trunk/ocons/db/struct.dtd

<!ELEMENT DBStructure (database)>
<!ELEMENT database (databasename, tables)>
<!ELEMENT tables (table)+>
<!ELEMENT table (tablename, fields)>
<!ELEMENT fields (field)+>
<!ELEMENT field (fieldname, fieldtype, fieldsize?, fieldkey?)>
<!ELEMENT databasename (#PCDATA)>
<!ELEMENT tablename (#PCDATA)>
<!ELEMENT fieldname (#PCDATA)>
<!ELEMENT fieldtype (#PCDATA)>
<!ELEMENT fieldsize (#PCDATA)>
<!ELEMENT fieldkey (#PCDATA)>